<mat-toolbar class="header" fxLayoutAlign="space-between end" fxShow fxHide.lt-md style="padding-top: 10px;">
  <div fxLayout="column">
      <div class="mat-display-3" style="margin: 0;">
        Myriam Counilh
      </div>
      <div class="mat-headline">
        Développeuse d'application frontend
      </div>
  </div>
</mat-toolbar>

<mat-toolbar color="primary" fxHide fxShow.sm fxShow.xs style="max-width: 100%; font-size: 16px" >
  <mat-toolbar-row fxLayoutAlign="space-between end">
    <a routerLink="/"><img src="../../../assets/images/myriamCounilhMenu.png" title="Myriam Counilh Développeuse d'application frontend" alt="Photo Myriam Counilh Header" style="width: 100px; border-radius: 25%; margin-top: 10px"/></a>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <a href="https://www.linkedin.com/in/myriam-counilh-69564a179" target="_blank"><mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Linkedin"></mat-icon></a>
      <a href="https://github.com/MyriamCounilh"  target="_blank"><mat-icon svgIcon="github" aria-hidden="false" aria-label="Github"></mat-icon></a>
      <a routerLink="contact" ><mat-icon svgIcon="contact" aria-hidden="false"  aria-label="Contact"></mat-icon></a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="space-between end"  style="margin-bottom: 10px" fxHide.xs>
    <button mat-raised-button color="accent" routerLink ="portfolio">Portfolio</button>
    <a mat-raised-button color="accent" href="../../../assets/CV.pdf" target="_blank">CV</a>
    <button mat-raised-button color="accent" routerLink ="certificats">Certificats</button>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayoutAlign="end end"  style="margin-bottom: 10px" fxHide fxShow.xs>
    <button mat-icon-button [matMenuTriggerFor]="menu" color="accent" aria-label="Hamburger" style="padding: inherit">
      <mat-icon svgIcon="menu" aria-hidden="false" aria-label="J'aime"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink ="portfolio">Portfolio</button>
      <a mat-menu-item href="../../../assets/CV.pdf" target="_blank">CV</a>
      <button mat-menu-item routerLink ="certificats">Certificats</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
