<div style="text-align: center">
  <div class="mat-h1" style="margin: 10px">
    Myriam Counilh
    <a routerLink="/">
      <img src="assets/images/myriamCounilhMenu.png" alt="Photo Myriam Counilh Menu" style="max-width: 100%; border-radius:50%"/>
    </a>
  </div>
  <div class="mat-h4">
    <div>Bonjour, je m'appelle Myriam.</div>
    <div>Je suis développeuse d'application frontend.</div>
    <div>Bienvenue sur mon espace dédié à mes projets personnels.</div>
    <div fxLayoutGap="15px" style="padding-top: 10px;">
      <a href="https://www.linkedin.com/in/myriam-counilh-69564a179" target="_blank"><mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Linkedin"></mat-icon></a>
      <a href="https://github.com/MyriamCounilh" target="_blank"><mat-icon svgIcon="github" aria-hidden="true" aria-label="Github"></mat-icon></a>
      <mat-icon svgIcon="contact" aria-hidden="false" aria-label="Contact"></mat-icon>
      <!--mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Twitter"></mat-icon-->
    </div>
    <div fxLayoutGap="10px" style="padding-top: 10px">
      <button mat-raised-button color="accent" routerLink ="portfolio.html">Portfolio</button>
      <a mat-raised-button color="accent" href="assets/CV.pdf" target="_blank">CV</a>
    </div>
  </div>
</div>


