<div class="box" layout="column" matSortDirection="asc">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" fxLayout.sm="column">
     <app-portfolio-card *ngFor="let project of sortedData"
          [title]="project.title"
          [subTitle]="project.subTitle"
          [link]="project.link"
          [image]="project.image"
          [imageAlt]="project.imageAlt"
          [descriptions]="project.descriptions"
          [technologies]="project.technologies"
          [badge]="project.badge">
     </app-portfolio-card>
 </div>
</div>
