<div fxLayout="column" style="margin-left: 50px; margin-top: 50px">
  <div class="mat-h3">
    <div>Développeuse d'application frontend à la suite d'une reconversion professionnelle il y a 2 ans.</div>
    <div>J'ai réalisé un site de cuisine "Cookpress", étant mordue de cuisine.</div>
    <div>Vous trouverez également mes différents projets sur mon <a  class="primary" routerLink ="portfolio.html">Portfolio</a>.</div>
    <div>Pour retrouver toutes mes compétences, vous pouvez visualiser mon <a class="primary" href="assets/CV.pdf" target="_blank">CV</a>.</div>
  </div>
</div>
