<div fxLayout="column" style="margin-left: 16px; margin-top: 40px; margin-bottom: 40px">
  <div class="mat-h4">
    <div>Développeuse d'application frontend à la suite d'une reconversion professionnelle il y a 2 ans.</div>
    <div>J'ai réalisé un site de cuisine "Cookpress", étant mordue de cuisine.</div>
    <div>Vous trouverez également mes différents projets sur mon <a  class="primary" routerLink ="portfolio">Portfolio</a>.</div>
    <div>Pour retrouver toutes mes compétences, vous pouvez visualiser mon <a class="primary" href="assets/CV.pdf" target="_blank">CV</a>.</div>
    <div>Vous pouvez également voir tous mes <a class="primary" routerLink ="certificats" target="_blank">certificats</a> que j'ai obtenu lors de ma formation de développeur d'application frontend.</div>
  </div>

    <div class="container mat-h4" style="padding: 20px; margin-right: 20px">
     <div> Mes projets préférés </div>
      <div style="padding-bottom: 10px"><a href="https://projet6.myriamcounilh.fr/" target="_blank"> Jeu de plateau en JS </a> : j'ai décidé de le faire avec mon fils, c'est mon fils de 12 ans qui a choisit le thème.
        Harry Potter, nous avons choisit ensemble les couleurs, les pions, les armes, nous avons joué ensemble pour tester le jeu. J'ai pris un grand plaisir à le faire avec lui.</div>
      <div style="padding-bottom: 10px"> <a href="https://www.cookpress.fr/" target="_blank"> Cookpress </a>: J'adore cuisiner, surtout les desserts. J'adore faire plaisir et faire connaître <a href="http://www.spm-tourisme.fr/" target="_blank"> mon île</a>, par ce blog j'espère la faire connaître d'avantage.</div>
    </div>

</div>
