<div fxLayout="column" fxLayoutGap="50px" style="margin-left: 50px; margin-top: 50px">
  <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="50px">
    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Cookpress</mat-card-title>
          <mat-card-subtitle>Site de Cuisine</mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.cookpress.fr/" target="_blank">
        <img src="/assets/images/cookpress.webp" alt="projet WordPress"></a>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Blog accès sur le domaine de la cuisine;</mat-list-item>
            <mat-list-item role="listitem">Création de recettes de cuisine;</mat-list-item>
            <mat-list-item role="listitem">Recherche d'une recette</mat-list-item>
            <mat-list-item role="listitem">Affichage des recettes par thème, difficulté, ou type de recette</mat-list-item>
            <mat-list-item role="listitem">Formulaire de contact</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>J'aime</button>
          <button mat-button>Partager</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Chalet et Caviar</mat-card-title>
          <mat-card-subtitle>Intégrez un thème Wordpress pour un client</mat-card-subtitle>
        </mat-card-header>
        <a href="https://projet2.myriamcounilh.fr/" target="_blank">
        <img src="/assets/images/projet2.webp" alt="projet WordPress"></a>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Créer un site web pour promouvoir la vente et la location des chalets;</mat-list-item>
            <mat-list-item role="listitem">Avoir plusieurs sections (ventes / locations) ;</mat-list-item>
            <mat-list-item role="listitem">Un formulaire de contact ;</mat-list-item>
            <mat-list-item role="listitem">Créer des comptes selon les profils ;</mat-list-item>
            <mat-list-item role="listitem">Le site doit avoir un design clair, luxueux et épuré.</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>J'aime</button>
          <button mat-button>Partager</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Chalet et Caviar</mat-card-title>
          <mat-card-subtitle>Intégrez un thème Wordpress pour un client</mat-card-subtitle>
        </mat-card-header>
        <a href="https://projet3.myriamcounilh.fr/" target="_blank">
          <img src="/assets/images/projet2.webp" alt="projet WordPress"></a>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Créer un site web pour promouvoir la vente et la location des chalets;</mat-list-item>
            <mat-list-item role="listitem">Avoir plusieurs sections (ventes / locations) ;</mat-list-item>
            <mat-list-item role="listitem">Un formulaire de contact ;</mat-list-item>
            <mat-list-item role="listitem">Créer des comptes selon les profils ;</mat-list-item>
            <mat-list-item role="listitem">Le site doit avoir un design clair, luxueux et épuré.</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>J'aime</button>
          <button mat-button>Partager</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="50px">
    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Cookpress</mat-card-title>
          <mat-card-subtitle>Site de Cuisine</mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.cookpress.fr/" target="_blank">
          <img src="/assets/images/cookpress.webp" alt="projet WordPress"></a>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Blog accès sur le domaine de la cuisine;</mat-list-item>
            <mat-list-item role="listitem">Création de recettes de cuisine;</mat-list-item>
            <mat-list-item role="listitem">Recherche d'une recette</mat-list-item>
            <mat-list-item role="listitem">Affichage des recettes par thème, difficulté, ou type de recette</mat-list-item>
            <mat-list-item role="listitem">Formulaire de contact</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>J'aime</button>
          <button mat-button>Partager</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!--div>
      <mat-grid-tile>
        <a mat-raised-button routerLink ="portfolio.html">Projet 4</a>
        Résumé du projet
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <a href="https://projet5.myriamcounilh.fr/" target="_blank">Projet 5</a>
        Résumé du projet
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <a href="https://projet6.myriamcounilh.fr/" target="_blank">Projet 6</a>
        Résumé du projet
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <a href="https://projet7.myriamcounilh.fr/" target="_blank">Projet 7</a>
        Résumé du projet
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <a href="https://projet8.myriamcounilh.fr/" target="_blank">Projet 8</a>
        Résumé du projet
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <a mat-raised-button routerLink ="portfolio.html">Projet 9</a>
        Résumé du projet
      </mat-grid-tile>
    </div-->
  </div>
</div>
