<div style="padding-left: 20px; margin-top: 20px">
  <div class="container" fxLayout="row" style="padding-top: 10px">
    <mat-form-field fxLayoutAlign="start start" style="">
      <mat-label>Civilité</mat-label>
      <mat-select [(ngModel)]="modeselect" [placeholder]="modeselect">
        <mat-option value="Monsieur">M</mat-option>
        <mat-option value="Madame">Mme</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field style="width: 400px; padding-left: 40px">
      <mat-label>Nom</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="containerEmail" style="margin-top: 20px; padding-top: 10px"  fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field style="width: 500px">
      <mat-label>Entrer votre adresse email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div style="padding-top: 20px;">
    <mat-form-field  class="textArea">
      <mat-label>Merci d'écrire votre message</mat-label>
      <textarea matInput style="padding-bottom: 60px"></textarea>
    </mat-form-field>
  </div>
  <button disabled mat-raised-button color="primary" style="margin-bottom: 20px">Valider</button>
</div>

