<mat-card class="card" style="margin: 15px; min-height: 433px; width: auto; max-width: 420px">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <a href="{{link}}" target="_blank" fxLayoutAlign="center" style="margin-bottom: 15px">
    <img src="{{image}}" alt="{{imageAlt}}" width="320" style="max-width: 100%; height: auto;">
  </a>
  <mat-card-content style="max-width: 400px; min-height: 20px">
    <div *ngFor="let description of descriptions" style="margin-bottom: 5px">{{description}}</div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="space-between center">
    <a href="{{link}}" target="_blank" mat-raised-button color="primary">Voir</a>
    <div fxLayoutAlign="end center">
      <button mat-icon-button color="primary"><mat-icon svgIcon="heart" aria-hidden="false" aria-label="J'aime"></mat-icon></button>
      <button mat-icon-button color="accent"><mat-icon svgIcon="share" aria-hidden="false" aria-label="Partager"></mat-icon></button>
    </div>
  </mat-card-actions>
  <mat-card-footer>
    <mat-accordion >
        <mat-chip-list>
          <mat-chip color="accent"  selected style="margin-left: 10px; margin-bottom: 10px;"
            *ngFor="let technologie of technologies">
            {{technologie}}
          </mat-chip>
        </mat-chip-list>
    </mat-accordion>
  </mat-card-footer>
</mat-card>
